@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, button{
    font-family:'Nunito', sans-serif;
}

#frontlogo {
    max-width:300px;
    margin:0 auto;
    height:200px;
    background-color:rgb(59, 65, 80);
    margin-bottom:10px;
}

a{
    text-decoration:none;
}
header{
    position: sticky;
    top:0;
    width:100%;
    padding-top:10px;
    background-color:rgba(255, 255, 255, 0.87);

}

header .logobox{
    margin:0 auto;
    width:100px;
    height:70px;
    background-color:black;
    
}
header ul {
    width:100%;
    list-style:none;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:10px;
    justify-content: space-evenly;
}

header li {
    flex:25%;
    border:0.5px solid rgba(255, 255, 255, 0.5);
    background-color:rgba(0, 52, 129, 0.205);
    text-align:center;
}

header li a {
    color:rgb(43, 43, 43);
    transition: all 0.2s;
    font-weight:bold;
    display:inline-block;
    padding:10px 15px 10px 15px;
    
}

.logout {
    color: rgb(120, 121, 126);
}

header a:hover {
    filter:opacity(0.6);
}

#admin {
    max-width:600px;
    width:94%;
    margin:0 auto;
    padding-top:100px;
    padding-bottom:180px;
}

#content{
    max-width:800px;
    margin:0 auto;
    padding-top:30px;
}

#subheadline {
    color:rgb(202, 202, 202);
    font-size:1.1em;
    border-bottom:1px solid rgb(219, 219, 219);
    max-width:400px;
    width:94%;
    margin:0 auto;
}

.admintopics{
    list-style: none;
    max-width:600px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:0.5px;
}

.admintopics li {
    flex:49%;
    text-align:center;
    margin:1px;
    
}
.box1 {background-color:rgb(34, 45, 70);}
.box2 {background-color:rgb(212, 134, 17);}
.box3 {background-color:rgb(36, 36, 36);}
.box4 {background-color:rgb(156, 40, 11); color:white;}

.admintopics li a {
    display:block;
    padding:50px;
    color:white;
    font-weight:bold;
    transition:all 0.2s;   
}

.admintopics a:hover {

    filter:opacity(0.6);

}

#admin .logout{
    display: block;
    font-weight:bold;
    margin-top:15px;
}
#admin .logout:hover {
    filter:opacity(0.6);
}

h2 {
    padding-top:15px;
    padding-bottom:10px;
    max-width:400px;
    font-size:1.2em;
    width:94%;
    margin:0 auto;
}

#admin h1 {
    max-width:320px;
    margin:0 auto;
    text-align:center;
    font-size:1.85em;
    color:#bdbdbd;
    padding-top:5px;
    padding-bottom:10px;
    margin-bottom:40px;
    border-bottom:1px solid rgb(204, 204, 204);
}

#loginform {
    width:100%;
    margin:0 auto;
    padding-bottom:20px;
}

#loginbtn {
    border:0;
    padding:15px;
    border: 3px solid rgb(34, 45, 70);
    color:rgb(34, 45, 70);
    background-color: transparent;
    font-weight:bold;
    cursor:pointer;
    transition:all 0.2s;
}
#loginbtn:hover {background-color:rgb(34, 45, 70); color:white;}

#postform {
    max-width:800px;
    padding-bottom:20px;
    width:94%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    scroll-margin-top:260px;
}

label {    
    max-width:395px;
    width:100%;   
    margin:0 auto;
}

#labeldesc {
    max-width:390px;
    margin:0 auto;

}

input{
    width:100%;
    padding:10px;
    margin-bottom:16px;
    border-radius:5px;
    border:1.5px solid rgb(173, 173, 173);
}

#description {
    display:block;
    max-width:390px;
    margin:0 auto;
    width:100%;
    padding:15px;
}

#message {
    margin-top:0;
    height:0;
    transition: all 0.5s;
}

#add, #update {
    max-width:390px;
    margin:0 auto;
    width:100%;
    padding:15px;
    margin-top:10px;
    border:0;
    color: white;
    cursor:pointer;
    transition:all 0.3s;
}

#add:hover, #update:hover {
    filter:opacity(0.6);
}

#add {
    display:block;
}

#update {
    display:none;
}

table, form input, #content li {
    font-size:1.05em;
}

#content button {
    font-size:0.9em;
}


table {
    width:94%;
    border-collapse: collapse;
    table-layout: auto;
    margin: 0 auto;
    margin-top: 10px;
    font-size:1.05em;
    display:none;
    
}

table {
    width:94%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 10px;
    font-size:1.05em;
    display:none;
    margin-bottom:100px;
  } 
  
  th,td {
    padding:18px 15px 20px 15px;
    text-align:left;
    vertical-align: top;

  }
  

#theadedu{
    background-color:rgb(34, 45, 70);
    color:white;
}

#theadwork{
    background-color:rgb(212, 134, 17);
    color:white;
}


#theadwebp{
    background-color: rgb(36, 36, 36);
    color:white;
    
}

#theadwork th, #worktable td{
    width:100%;
}

.tablebtns {
    border-bottom: 1px solid grey;
}

tbody a{
    font-weight:bold;
    color:rgb(26, 26, 26);
    transition:all 0.2s;
}
tbody a:hover {
    opacity: 0.6;
}


.tablebtns button  {
    float:right;
    padding:10px 15px 10px 15px;
    margin-left:10px;
    font-weight:bold;
    cursor:pointer;
    background-color:transparent;
    border-radius:5px;
    transition:all 0.2s;
}

#eduprinttable button {color:rgb(34, 45, 70); border:3px solid rgb(34, 45, 70);}
#worktable button {color:rgb(212, 134, 17); border:3px solid rgb(212, 134, 17);}
#webptable button {color:rgb(36, 36, 36); border:3px solid rgb(36, 36, 36);}

#eduprinttable button:hover{color:white; background-color:rgb(34, 45, 70);}
#worktable button:hover {color:white; background-color:rgb(212, 134, 17);}
#webptable button:hover {color:white; background-color:rgb(36, 36, 36);}

.tablebtns{
    border-bottom:1px solid rgb(145, 145, 145);
}

#eduprintlist, #worklist, #webplist {
    margin-bottom:100px;
}

.listingedu button, .listingwork button, .listingwebpages button {
    padding:10px 15px 10px 15px;
    margin-right:10px;
    margin-top:15px;
    font-weight:800;
    cursor:pointer;
    background-color:transparent;
    border-radius:5px;
}
.listingedu button {
    color:rgb(34, 45, 70);
    border:3px solid rgb(34, 45, 70);
}
.listingwork button {
    color:rgb(212, 134, 17);
    border:3px solid rgb(212, 134, 17);
}
.listingwebpages button {
    color:rgb(36, 36, 36);
    border:3px solid rgb(36, 36, 36);
}


.listingedu, .listingwork, .listingwebpages {
    display:inline-block;
    list-style: none;
    width:100%;
    margin:0 auto;
    padding:15px 5px 15px 5px;
    
    
}
.listingedu li, .listingwork li, .listingwebpages li {
    max-width:400px;
    width:94%;
    margin:0 auto;
    padding:10px;
    color:black;
    background-color:white;  
}
.listingedu a, .listingwork a, .listingwebpages a{
    font-weight:800;
    color:rgb(156, 40, 11);
}
.listingedu{background-color:rgb(34, 45, 70);}
.listingwork{background-color:rgb(212, 134, 17);}
.listingwebpages{background-color:rgb(36, 36, 36);}

footer {
    max-width:600px;
    width:94%;
    margin:0 auto;
    padding:60px 10px 50px 10px;
    border-top:1px solid grey;

}

footer a {
    display:block;
    color: rgb(71, 71, 71);
    font-weight:bold;
}
footer a:hover {
    filter:opacity(0.6);
}

footer p {
    text-align:center;
    color:rgb(71, 71, 71);
    margin-bottom:15px;
}


@media screen and (min-width:800px){

    header{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom:10px;
    }
    header .logobox{
        margin-left:50px;
    }

    header ul {
        list-style:none;
        display:inline-block;
        width:auto;
        margin-top:25px;
    
    }
    
    header li {
        float:left;
        width:fit-content;
        border:0;
        background-color:transparent
    }
    
    header li a {
        color:rgb(43, 43, 43);
        transition: all 0.2s;
        font-weight:bold;
        display:inline-block;
        padding:10px 15px 10px 15px;
        border-right:0.5px solid rgb(204, 204, 204);
    }

    #subheadline {
        font-size:1.2em;
        margin-bottom:20px;
        max-width:800px;
        width:100%;
    }

    h2 {
        max-width:800px;
        margin-left:0;
        font-size:1.3em;
    }

    table {
        display:block;
        margin-top: 10px;
        width:100%;
    }

    #eduprintlist, #worklist, #webplist{
        display:none;
    }

    #postform {
        width:100%;
    }

    #labeldesc{
        max-width:800px;
    }

    #description {
        max-width:800px;
    }

}




